.title span {
  color: #9d4dbb;
  text-decoration: none;
}

.title {
  margin: 10px;
  line-height: 1.15;
  font-size: 4rem;
  color: #f3af19;
}

.title,
.description {
  text-align: center;
}

.description {
  color:#319236;
  justify-content: center;
  max-width: 600px;
  margin: 10px;
}

.description h1 {
  color: #ddb1ff;
}

.description span {
  color: #4c51f7;
}